<form #issueListForm="ngForm" class="col-md-11" (ngSubmit)="onSubmit()">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="Owner" [(ngModel)]="repository.owner" #owner="ngModel" name="owner" required>
    <label class="mdl-textfield__label" for="Owner">Repository owner</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="Repository" [(ngModel)]="repository.rep" #rep="ngModel" name="rep" required>
    <label class="mdl-textfield__label" for="Repository">Repository name</label>
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [disabled]="!issueListForm.form.valid" >
    Enviar
  </button>
</form>
<app-issue-list></app-issue-list>
