<div *ngIf="issues">
  <h3>Issues: {{totalIssues}}</h3>
  <div class="pagination">
    <label *ngFor="let pg of issuesPag" (click)="setPage(pg)">
      <span *ngIf="pg.pag == pages; else other">
        <span active #active>{{pg.pag}}</span>
      </span>
      <ng-template #other><span>{{pg.pag}}</span></ng-template>
    </label>
  </div>
  <ul>
    <li *ngFor="let issue of issues">
      <div class="mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title mdl-card--expand">
          <h4 class="mdl-card__title-text">{{issue.title}}</h4>
        </div>
        <div class="mdl-card__supporting-text cardText">
          <p>{{issue.user.login}}</p>
          <span>{{issue.updated_at}}</span>
        </div>
        <div class="mdl-card__actions">
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{issue.html_url}}" target="_blank">Go</a>
        </div>
      </div>
    </li>
  </ul>
</div>
