/* You can add global styles to this file, and also import other style files */
body {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.title {
  font-weight: 600;
  cursor: pointer;
}

ul {
  list-style: none;
  width: 80%;
}

li {
  float: left;
  margin-left: -50px;
  margin-bottom: 10px;
  margin-right: 80px;
  cursor: pointer;
}

.pagination{
  clear: both;
  font-size: 20px;
  text-align: left;
  width: 90%;
  margin-bottom: 30px;
}

.pagination span{
  height: 30px;
  width: 30px;
  color: rgba(0,0,0,.5);
  transition: color 2s;
  cursor: pointer;
  display: inline-block;
  line-height: 30px;
}
.pagination span[active]{
  background: #2196F3;
  border-radius: 50%;
  color: white;
}
.pagination span[active]:hover{
  color: white;
}
.pagination span:hover{
  color: rgba(0,0,0,1);
  transition: color 2s;
}
.pagination span:first-child{
  margin-left: 10px;
}
.pagination span:last-child{
  margin-right: 10px;
}

.error {
  width: 87%;
  border-radius: 17px;
  background: red;
}

.error h3{
  padding-left: 50px;
  color: white;
}

@media (max-width: 480px) {
  body {
    overflow-x: auto;
    overflow-y: auto;
  }
}
